*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
@font-face{
    font-family: "Roboto_1";
    src:url(shrift/PlayfairDisplay-VariableFont_wght.ttf);
}
@font-face{
    font-family: "Roboto_2";
    src:url(shrift/ClickerScript-Regular.ttf);
}
.cofee{
width: 100vw;
height: 100vh;
background-image: url(images/coffee_image.png);
background-repeat: no-repeat;
background-size: cover;
}
header{
width: 100vw;
height: 16vh;
display: flex;
justify-content: center;
align-items: center;
}
nav{
width: 90vw;
height: 18%;
display: flex;
justify-content:space-around;
align-items: center;
}
nav p{
color:#FFFFFF;
font-size: 35px;
font-family: "Roboto_2", sans-serif;
}
nav a{
    font-size: 14px;
    text-decoration: none;
    color:#FFFFFF;
    font-family: "Roboto_1", sans-serif;
}
 nav ul{
    width: 65vh;
    display: flex;
    justify-content: space-around;
    list-style: none;
}
.double_button {
    width: 20vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Roboto_1", sans-serif;
}.double_button button{width: 11vh; height: 5vh;
border-radius: 40vh;border: none; cursor: pointer; background-color: #F9C06A; 
box-shadow: 0 0 1vh #F9C06A;}
 .right_container{
    width: 86vw;
    position: relative; left: 11vw; top: 10vh;}
.right_container .p{
    font-size: 180px;
    color: #FFFFFF;
    font-family: "Roboto_2", sans-serif;
 }
 .right_container p{
    font-size: 17px;
    font-family: "Roboto_1", sans-serif;
    color: #FFFFFF;
 }
 .right_container button{
width: 12vh; height: 5vh; 
position: relative; top: 3vh;
border-radius: 40vh;border: none; cursor: pointer; 
background-color: #F9C06A; 
box-shadow: 0 0 1vh #F9C06A;
}
/*СТРАНИЦА 2*/
.Discover_the_best_coffee{
width: 100vw;
height: 67vh;
background-color:#FFFFFF;
font-family: "Roboto_1", sans-serif;
}
.big_container{display: flex;}
.right_container_2{width: 80vw; position: relative; left: 11vw; top: 10vh;}
.right_container_2 .p_1{font-size: 54px;color: #603809;}
.right_container_2 .p_2{
    position: relative; top: 4vh;
    color: #707070; font-size: 17px;
 }
 .right_container_2 .button_1{
width: 12vh; height: 5vh; 
position: relative; left: -20vw; top: -17vh;
border-radius: 40vh;
border: none; cursor: pointer; 
background-color: #F9C06A;
}
.right_container_2 img{z-index: 1; position: relative;  top: 15vh; left: -22.1vh;} 
.left_container{position: relative; right: 20vh; top: 5vh;}
/*СТРАНИЦА 2 ЧАСТЬ 2*/
.Enjoy_a_new_blend_of_coffee_style{
    width: 100vw;
    height: 70vh;
    background-color: #FFFFFF; font-family: "Roboto_1", sans-serif;
}
.tetx_2{
   display: flex;
   flex-direction: column;
    justify-content: center;
   align-items: center;
} .tetx_2 .p_3{color:#603809; font-size: 60px;}.tetx_2 .p_4{color: #707070; position: relative;top: 2vh; font-size: 20px;}
.big_container_2{
    width: 100vw;
    display: flex;
    justify-content: center;
    position: relative; top: 7vh;
    gap: 3vh;
}
.big_container_2 p {
    display: flex;
    justify-content: center;
    color:#603809;
    font-size: 20px;
}.big_container_2 .bt{width: 13vh; height: 5vh;
border-radius: 40vh;border: none; cursor: pointer; background-color: #F9C06A;position: relative;top:1vh; left: 8vh;} 
.big_container_2 .p_5{color: #1E1E1E; font-size: 16px;}
/*СТРАНИЦА 2 ЧАСТЬ 3*/
.Why_are_we_different{
width: 100vw;
height: 80vh;
background-color: #FFFFFF; font-family: "Roboto_1", sans-serif;
}.tetx_2 img{ width: 50vh; z-index: 2; top: -23vh;  position: relative;left: 75.7vh;}
.big_container_3{
    width: 100vw;
    display: flex;
    justify-content: center;
    position: relative; top: -16vh;
    gap: 15vh;
}
.big_container_3 p {
    display: flex;
    justify-content: center;
} 
.big_container_3 .p_6{
    color:#603809;
    font-size: 32px;}
    .big_container_3 p{color:#707070;} 
    .big_container_3 img{position: relative;left: 6vh;}
    .tetx_3{
   display: flex;
   flex-direction: column;
    justify-content: center;
   align-items: center;
}
.tetx_3 .p_7{ color:#603809; font-size: 32px;}
.tetx_3 p{color:#707070; font-size: 22px;}
.tetx_3 button{width: 13vh; height: 5vh;
border-radius: 40vh;border: none; cursor: pointer; background-color: #F9C06A;position: relative;top:2vh;}
/*СТРАНИЦА 3*/
.Get_a_chance_to_have_an_Amazing_morning{
    width: 100vw;
    height: 67vh;
    z-index: 1;
    background-image: url(images/Rectangle14.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Roboto_1", sans-serif;
}
.big_container_4{
    display: flex;
    justify-content: center;
    align-items: center;
}
.right_container_3{position: relative; left: -15vh;}
.right_container_3 .p_8{
font-size: 60px;
color: #FFFFFF;
}.right_container_3 .p_9{position: relative;font-size: 20px; top: 2vh; color: #FFFFFF;}
.right_container_3 button{width: 11vh; height: 5vh;
border-radius: 40vh;border: none; cursor: pointer;position: relative; top: 5vh; background-color: #F9C06A; 
box-shadow: 0 0 1vh #F9C06A;}
.left_container_2 .ft_2{
    position: relative; left: 22vh; top: 6.7vh;
}
.left_container_2 .ft_1{
    z-index: 2;
    position: relative; left: 61vh; top: 4vh;
}
/*СТРАНИЦА 4*/
.Our_coffee_perfection_feedback{
    width: 100vw;
    height: 125vh;
    background-color: #FFFFFF;
     font-family: "Roboto_1", sans-serif;
}
.tetx_4{
     display: flex;
   flex-direction: column;
    justify-content: center;
   align-items: center;
   position: relative; top:15vh;
}
.tetx_4 .p_10{color:#603809; font-size: 60px;}
.tetx_4 p{color:#707070; font-size: 22px;}
.tetx_4 .p_11{position: relative; top:3vh;}
.kovichki{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; top: 10vh; gap:45vh;
}.kovichki img{ 
    width: 56vh;
    position: relative; 
    left: 44.5vh; 
    top: 5vh;}
.kovichki h1{ 
    font-size: 220px;
    position: relative;
    top: 14vh; 
    color: #603809;
}
.tetx_5{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #707070;
    position: relative; top:10vh; font-size: 20px; 
}
.button_2{
    display: flex;
    justify-content: space-around;
    position: relative;
    gap: 106vh;
    top: -9vh;
}
.button_3{
width: 10vh; 
height: 10vh;
border-radius: 3vh;border: none; cursor: pointer; background-color: #F9C06A;    
}
.tetx_4 .p_12{
font-size: 30px;
color: #603809;
}.tetx_4 .p_13{font-size: 20px; position: relative; top:1vh;}
.tetx_4 img{
    position: relative; top: 5vh;
}.tetx_4 .agh{
    width: 50vh;
position: relative; left: -75.7vh;top: -17vh;
}
/*СТРАНИЦА 5*/
.Subscribe_to_get_the_Latest_News{
    width: 100vw;
    height: 50.3vh;
    background-image: url(images/rectangle\ 14\(1\).png);
    background-repeat: no-repeat;
    background-size: cover;
     font-family: "Roboto_1", sans-serif;
}.tetx_6{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:#FFFFFF;
    position: relative; top:10vh;
}
.tetx_6 .p_14{font-size: 65px;}
.tetx_6 .p_15{font-size: 25px;position: relative; top: 2vh;}
input {
width: 80vh;
height: 6vh;
position: relative; top: 5vh;
font-size: 18px;
border-radius: 1vh;
border: none;
}
.button_4{
width: 16vh;
height: 6vh;
z-index: 1;
color: #603809;
font-size: 20px;
border-radius: 1vh;
border: none;
position: relative; top: -1vh; left: 32vh; 
background-color: #F9C06A; 
box-shadow: 0 0 1vh #F9C06A;
}
.foto_3{
   display: flex;
   justify-content: center;
   position: relative;top: 3vh;gap: 140.1vh;  
}
footer{
    width: 100vw;
    height: 60vh;
    background-image: url(images/futer.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Roboto_1", sans-serif;
}
.tetx_7{
    
    width: 87vw;
    position: relative;
    left: 7vw;
    top: 22vh;
    color: #FFFFFF;
}
.p_16{font-size: 55px; font-family: "Roboto_2", sans-serif;}
.p_17{font-size: 15px;  position: relative; top: 2vh;}
.tetx_7 img{position: relative; top: 6vh;}
.stilbiki{
    width: 87vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; left: 25vh;gap: 14vh;top: 3vh;
    color: #FFFFFF;
}.stilbiki ul{
    display: flex;
    flex-direction: column;
    gap: 2vh;
    list-style: none;
}.dkl{
    font-size: 26px;
    position: relative; top: -2vh;
}
@media(min-width:430px) and (max-width:932px){
    .cofee{
         width: 94.4vw;
        height: 77vh;}
    header{
        position: relative;
        left: -1vh;
    }
    .foto_2 p{
        width: 7.4vh; font-size: 18px;
    }
    nav ul{
        width: 23vh;
    }.tetx_1 a{font-size: 9px;}
    .double_button a{
        width: 9vh; font-size: 9px;}
        .double_button button{
        width: 6vh;
        height: 2vh;
        position: relative; left: -4vh; 
        font-size: 9px;
        }
        .right_container{
            position: relative;
            left: 1vh; top: 3vh;
        }
        /*СТРАНИЦА 2*/
        .Discover_the_best_coffee{
            width: 94.4vw;
            height: 70vh;}
        .right_container_2 .button_1{
            position: relative;
            left: -21vh;top: -5vh;
        }.right_container_2 img{
            width: 20vh;
            position: relative;
            left: -5.1vh;
            top: 7vh;

        }
        .left_container{
            display: none;
        }
        /*СТРАНИЦА 2 часть 3*/
        .Enjoy_a_new_blend_of_coffee_style{
            width: 94.4vw;
            height: 89vh;
        }
        .big_container_2{
            flex-wrap: wrap; 
            position: relative;gap: 3vh; right: 1.2vh;
        }
        .Cappuccino img{
         width: 19vh;
        }.big_container_2 p{font-size: 15px;}
        .big_container_2 .p_5{font-size: 13px;}
        .big_container_2 .bt{ width: 10vh; height: 3vh; font-size: 11px;
            position: relative; left: 4.5vh;top: 0.6vh;
        }
        .Why_are_we_different{
            width: 94.4vw;
            height: 90vh;
        }
        .big_container_3 {
        width: 46vh;
        flex-wrap:wrap; 
        position: relative;
        left: -1vh;
        gap: 5vh; 
        top: 10vh;
        }
        .Supreme_Beans img{
            width: 5vh; 
            position: relative; left: 5vh;
        }
        .Supreme_Beans .p_6{font-size: 23px;}
        .Supreme_Beans p{font-size: 14px;}
        .tetx_2 img{display: none;}
        .tetx_2{position: relative; left: 0.4vh;}
        .tetx_2 .p_3{font-size: 31px;}
        .tetx_2 .p_4{font-size: 19px;}

        .tetx_3{position: relative; left: 1vh; top: 30vh;}
        .tetx_3 p{font-size: 14px; position: relative; right:  1vh;}
        .tetx_3 .p_7{font-size: 26px;}
        .tetx_3 button{
            width: 10vh; height: 3vh; 
            position: relative; left: -1vh;
        }
        /*СТРАНИЦА 3*/
        .Get_a_chance_to_have_an_Amazing_morning{
            width: 94.4vw;
            height: 62vh;
        }
        .right_container_3{
        position: relative; left: 19vh; top: 1vh;
        }
        .right_container_3 .p_8{width: 35vh; font-size: 30px;}
        .right_container_3 .p_9{font-size: 14px;}
        .right_container_3 button{width: 9vh; height: 4vh; font-size: 10px;}

        .left_container_2 .ft_1{display: none;}
        .left_container_2 .ft_2{
        width: 44vh; 
        position: relative; 
        left: -17.9vh;
        top: 14.4vh;
    }
     /*СТРАНИЦА 4*/
     .Our_coffee_perfection_feedback{
        width: 94.4vw;
        height: 85vh;
     }
     .kovichki h1{
        font-size: 100px; 
        position: relative; 
        left: 13vh; top: 1vh;
    }
    .kovichki img{
        width: 20vh;
        position: relative;
        top: -4vh; left: -14.7vh;
    }
     .tetx_4{
        position: relative;
        left: 0.1vh; top:10vh;
     }
     .tetx_4 .p_10{font-size: 28px;}
     .tetx_4 .p_11{position: relative; top: 1vh; font-size: 15px;}
     .tetx_4 .p_12{font-size: 28px;}
     .tetx_4 .p_13{font-size: 15px;}
     .tetx_5{position: relative; top: 7vh;}  
     .tetx_5 p{
        width: 36vh;
        font-size: 14px;
     }
     .button_2{
       position: relative;
       gap: 2vh; top: 2vh;
     }
     .button_3{
width: 4vh; 
height: 4vh;
border-radius: 2vh;}
.agh {display: none;}
/*СТРАНИЦА 5*/
.Subscribe_to_get_the_Latest_News{
    width: 94.4vw;
    height: 45vh;
}
.tetx_6 .p_14{font-size: 27px;}
.tetx_6 .p_15{font-size: 12px;}
input{width: 40vh; font-size: 16px;}
.button_4{
    width: 13vh;
    height: 6vh; 
    font-size: 18px;
    position: relative; left: 13.6vh;
}
.foto_3{display: none;}
/*ФУТЕЕЕЕЕР*/
footer{
    width: 94.4vw;
    height: 53vh;
}

.tetx_7{
    position: relative; top: 3vh;
}
.tetx_7 .p_16{font-size: 27px;}
.tetx_7 .p_17{font-size: 12px;}
.tetx_7 img{
    position: relative; top:30vh;
}
.stilbiki{ 
    position: relative;
    top: 6vh;  gap: 2vh;left: 3svh;
}
.stolb_1{
    font-size: 10px;
}
.stolb_1 .dkl{
    position: relative;
    top: -1vh;
    font-size:21px;
}
.stilbiki ul{gap: 2vh;}
}
